<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    </configSections>

    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
            <property name="connection.connection_string">
                Server=198.38.83.33;initial catalog=pacharu_biblioseca;User Id=pacharu_biblioseca;Password=a300p011
            </property>
            <property name="current_session_context_class">thread_static</property>
            <property name="show_sql">true</property>
            <mapping assembly="Biblioseca.Model"/>
        </session-factory>
    </hibernate-configuration>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
